:root {
  --primary-text-color: #7d7987;
  --secondary-text-color: #ffffff;
  --accent-color: #458ff6;
  --secondary-accent-color: #4089ed;
  --title-text-color: #000000;
  --nav-text-color: #1f1534;
  --primary-bg-color: #ffffff;
  --logo-text-color: #233348;
}

/* Body */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Mulish, sans-serif;
}

.list {
  list-style: none;
}
a {
  text-decoration: unset;
}
.button {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 3.33;
}

.hero .button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.section-title {
  color: var(--title-text-color);
}
.subtitle {
  color: var(--title-text-color);
}

/* Navigation */
.site-nav .link {
  color: var(--nav-text-color);
  opacity: 0.5;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--nav-text-color);
  opacity: 1;
}
.site-nav .current {
  color: var(--nav-text-color);
  font-weight: 700;
  opacity: 1;
}

/* Hero */
.hero-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
}
.hero-text {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.52;
}

/* Our services */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.56;
  text-align: center;
}
.section-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
}
.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 2.33;
}
.subtitle .text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}

/* Our apps */
.providers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.56;
}
.mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
}
.apps-list p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
}
/* Responces */
.responses {
  color: var(--secondary-text-color);
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}
.responses .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
}
.autor {
  font-weight: 700;
  font-size: 22px;
  line-height: 2.19;
}
.responses .subtitle {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  line-height: 2.67;
}
.responses .text {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
}
/* Articles */
.articles a {
  color: var(--secondary-accent-color);
  font-weight: 600;
  font-size: 17px;
  line-height: 1.65;
}
.articles .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.56;
}
.desc .subtitle {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.52;
}
.desc .excerpt {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}
/* Footer */
footer {
  color: var(--secondary-text-color);
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.tagline {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
}
.copyright {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
}
.external-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 3;
}
.external a {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 18px;
  line-height: 2.11;
}
