*,
::before,
::after {
  outline: teal;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: "Muli", sans-serif;
}
.container {
  // width: 100%;
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: unset;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  padding: 2px 36px;
  width: 200px;
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 3.33;
  border: 1.4px solid #458FF6;
  border-radius: 55px;
}


