$primary-text-color: #7d7987;
$secondary-text-color: #ffffff;
$accent-color: #458ff6;
$secondary-accent-color: #4089ed;
$title-text-color: #000000;
$nav-text-color: #1f1534;
$primary-bg-color: #ffffff;
$logo-text-color: #233348;