.providers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.56;
}
.mobile {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
}
.apps-list p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.67;
}