.header__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__link {
  color: var(--nav-text-color);
  opacity: 0.5;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}
.nav__link:hover,
.nav__link:focus {
  color: var(--nav-text-color);
  opacity: 1;
}
.nav--current {
  color: var(--nav-text-color);
  font-weight: 700;
  opacity: 1;
}