.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo {
  display: inline-block;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 40px;
  }
}
.nav__link {
  color: $nav-text-color;
  opacity: 0.5;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}
.nav__link:hover,
.nav__link:focus {
  color: $nav-text-color;
  opacity: 1;
}
.nav--current {
  color: $nav-text-color;
  font-weight: 700;
  opacity: 1;
}