.responses {
  color: var(--secondary-text-color);
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}
.responses .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
}
.autor {
  font-weight: 700;
  font-size: 22px;
  line-height: 2.19;
}
.responses .subtitle {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  line-height: 2.67;
}
.responses .text {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 19px;
  line-height: 1.58;
}